* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.98);
  position: absolute;
  width: 100%;
  transition: all 0.3s ease;
}

#pokemonList,
#pokemonDetails {
  transition: all 0.3s ease;
}

#pokemonList:not(.hidden),
#pokemonDetails:not(.hidden) {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  position: relative;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}